<?xml version="1.0"?>
<config>
    <modules>
        <Hxtech_Forex>
            <version>0.1.5</version>
        </Hxtech_Forex>
    </modules>
    <frontend>
        <routers>
            <forex>
                <use>standard</use>
                <args>
                    <module>Hxtech_Forex</module>
                    <frontName>forex</frontName>
                </args>
            </forex>
        </routers>
        <layout>
            <updates>
                <forex>
                    <file>hxtech/forex.xml</file>
                </forex>
            </updates>
        </layout>
        <events>
            <sales_order_place_before>
                <observers>
                    <send_email_to_financier>
                        <type>singleton</type>
                        <class>forex/observer</class>
                        <method>financierOrderProcess</method>
                    </send_email_to_financier>
                </observers>
            </sales_order_place_before>
        </events>
    </frontend>
    <global>
        <helpers>
            <forex>
                <class>Hxtech_Forex_Helper</class>
            </forex>
        </helpers>
        <blocks>
            <forex>
                <class>Hxtech_Forex_Block</class>
            </forex>
        </blocks>
        <models>
            <forex>
                <class>Hxtech_Forex_Model</class>
                <resourceModel>forex_mysql4</resourceModel>
            </forex>
            <forex_mysql4>
                <class>Hxtech_Forex_Model_Mysql4</class>
                <entities>
                    <financier>
                        <table>forex_financier</table>
                    </financier>
                    <tiercommission>
                        <table>forex_financier_tier_commission</table>
                    </tiercommission>
                </entities>
            </forex_mysql4>
        </models>
        <resources>
            <forex_setup>
                <setup>
                    <module>Hxtech_Forex</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </forex_setup>
            <forex_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </forex_write>
            <forex_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </forex_read>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <financier_id>
                    <to_order>*</to_order>
                </financier_id>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <forex>
                <use>admin</use>
                <args>
                    <module>Hxtech_Forex</module>
                    <frontName>forex</frontName>
                </args>
            </forex>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <forex>
                    <file>hxtech/forex.xml</file>
                </forex>
            </updates>
        </layout>
    </adminhtml>
</config>