<?xml version="1.0"?>
<!--
NOTICE OF LICENSE

This source file is subject to the SafeMageEULA that is bundled with this package in the file LICENSE.txt.

It is also available at this URL: https://www.safemage.com/LICENSE_EULA.txt

Copyright (c)  SafeMage (https://www.safemage.com/)
-->
<config>
    <modules>
        <SafeMage_Plugin>
            <version>1.0.3</version>
        </SafeMage_Plugin>
    </modules>
    <adminhtml>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <safemage_plugin>
                        <class>safemage_plugin/observer</class>
                        <method>adminCacheRefreshType</method>
                    </safemage_plugin>
                </observers>
            </adminhtml_cache_refresh_type>
            <adminhtml_cache_flush_all>
                <observers>
                    <safemage_plugin>
                        <class>safemage_plugin/observer</class>
                        <method>adminCacheFlushAll</method>
                    </safemage_plugin>
                </observers>
            </adminhtml_cache_flush_all>
            <adminhtml_cache_flush_system>
                <observers>
                    <safemage_plugin>
                        <class>safemage_plugin/observer</class>
                        <method>adminCacheFlushSystem</method>
                    </safemage_plugin>
                </observers>
            </adminhtml_cache_flush_system>
            <controller_action_predispatch_adminhtml_system_config_edit>
                <observers>
                    <safemage_plugin>
                        <class>safemage_plugin/observer</class>
                        <method>checkWritablePluginsDir</method>
                    </safemage_plugin>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_edit>
        </events>
        <translate>
            <modules>
                <SafeMage_Plugin>
                    <files>
                        <default>SafeMage_Plugin.csv</default>
                    </files>
                </SafeMage_Plugin>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <blocks>
            <safemage_plugin>
                <class>SafeMage_Plugin_Block</class>
            </safemage_plugin>
        </blocks>
        <helpers>
            <safemage_plugin>
                <class>SafeMage_Plugin_Helper</class>
            </safemage_plugin>
        </helpers>
        <models>
            <safemage_plugin>
                <class>SafeMage_Plugin_Model</class>
            </safemage_plugin>
            <core>
                <plugin>
                    <layout>
                        <safemage_plugin_set_data_around>
                            <type>around</type>
                            <method>_getBlockInstance</method>
                            <run>safemage_plugin/plugin::aroundGetBlockInstance</run>
                            <sort_order>10</sort_order>
                        </safemage_plugin_set_data_around>
                    </layout>
                </plugin>
            </core>
        </models>
    </global>
    <default>
        <system>
            <plugin>
                <enabled>1</enabled>
            </plugin>
        </system>
    </default>
</config>
