<?xml version="1.0"?>
<!--
NOTICE OF LICENSE

This source file is subject to the SafeMageEULA that is bundled with this package in the file LICENSE.txt.

It is also available at this URL: https://www.safemage.com/LICENSE_EULA.txt

Copyright (c)  SafeMage (https://www.safemage.com/)
-->
<config>
    <modules>
        <SafeMage_Permissions>
            <version>1.2.2</version>
        </SafeMage_Permissions>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SafeMage_Permissions before="Mage_Adminhtml">SafeMage_Permissions_Adminhtml</SafeMage_Permissions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <safemage_permissions_core_block_abstract_to_html_before>
                        <class>safemage_permissions/observer_block</class>
                        <method>onCoreBlockAbstractToHtmlBefore</method>
                    </safemage_permissions_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <safemage_permissions_core_block_abstract_to_html_after>
                        <class>safemage_permissions/observer_block</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </safemage_permissions_core_block_abstract_to_html_after>
                    <safemage_permissions_core_block_abstract_to_html_after2>
                        <class>safemage_permissions/observer_restrict_categories</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </safemage_permissions_core_block_abstract_to_html_after2>
                    <safemage_permissions_core_block_abstract_to_html_after3>
                        <class>safemage_permissions/observer_restrict_products</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </safemage_permissions_core_block_abstract_to_html_after3>
                </observers>
            </core_block_abstract_to_html_after>
            <adminhtml_block_html_before>
                <observers>
                    <safemage_permissions_adminhtml_block_html_before>
                        <class>safemage_permissions/observer_restrict_products</class>
                        <method>onAdminhtmlBlockHtmlBefore</method>
                    </safemage_permissions_adminhtml_block_html_before>
                    <safemage_permissions_adminhtml_block_html_before2>
                        <class>safemage_permissions/observer_restrict_categories</class>
                        <method>onAdminhtmlBlockHtmlBefore</method>
                    </safemage_permissions_adminhtml_block_html_before2>
                    <safemage_permissions_adminhtml_block_html_before3>
                        <class>safemage_permissions/observer_restrict_customers</class>
                        <method>onAdminhtmlBlockHtmlBefore</method>
                    </safemage_permissions_adminhtml_block_html_before3>
                </observers>
            </adminhtml_block_html_before>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <safemage_permissions_core_block_abstract_prepare_layout_before>
                        <class>safemage_permissions/observer_block</class>
                        <method>onCoreBlockAbstractPrepareLayoutBefore</method>
                    </safemage_permissions_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <model_save_before>
                <observers>
                    <safemage_permissions_model_save_before>
                        <class>safemage_permissions/observer_model</class>
                        <method>onModelSaveBefore</method>
                    </safemage_permissions_model_save_before>
                </observers>
            </model_save_before>
            <model_save_after>
                <observers>
                    <safemage_permissions_model_save_after>
                        <class>safemage_permissions/observer_model</class>
                        <method>onModelSaveAfter</method>
                    </safemage_permissions_model_save_after>
                </observers>
            </model_save_after>
            <core_collection_abstract_load_before>
                <observers>
                    <safemage_permissions_core_collection_abstract_load_before>
                        <class>safemage_permissions/observer_restrict_sales</class>
                        <method>onCoreCollectionAbstractLoadBefore</method>
                    </safemage_permissions_core_collection_abstract_load_before>

                </observers>
            </core_collection_abstract_load_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <safemage_permissions_eav_collection_abstract_load_before>
                        <class>safemage_permissions/observer_restrict_customers</class>
                        <method>onEavCollectionAbstractLoadBefore</method>
                    </safemage_permissions_eav_collection_abstract_load_before>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
        <layout>
            <updates>
                <safemage_permissions>
                    <file>safemage/permissions.xml</file>
                </safemage_permissions>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <safemage_permissions>
                <use>standard</use>
                <args>
                    <module>SafeMage_Permissions</module>
                    <frontName>safemage_permissions</frontName>
                </args>
            </safemage_permissions>
        </routers>
    </frontend>
    <global>
        <blocks>
            <safemage_permissions>
                <class>SafeMage_Permissions_Block</class>
            </safemage_permissions>
            <adminhtml>
                <plugin>
                    <!-- Advanced: Categories -->
                    <catalog_category_tree>
                        <safemage_permissions_after_get_tree>
                            <type>after</type>
                            <method>getTree</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_Tree::afterGetTree</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_after_get_tree>
                        <safemage_permissions_after_get_tree_json>
                            <type>after</type>
                            <method>getTreeJson</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_Tree::afterGetTreeJson</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_after_get_tree_json>
                    </catalog_category_tree>
                    <!-- Advanced: Products -->
                    <catalog_product_grid>
                        <safemage_permissions_after_set_collection>
                            <type>after</type>
                            <method>setCollection</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_CatalogProductGrid::afterSetCollection</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_set_collection>
                    </catalog_product_grid>
                    <sales_order_create_search_grid>
                        <safemage_permissions_after_set_collection>
                            <type>after</type>
                            <method>setCollection</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_CatalogProductGrid::afterSetCollection</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_set_collection>
                    </sales_order_create_search_grid>
                    <store_switcher>
                        <!-- Advanced: Categories -->
                        <safemage_permissions_after_get_store_ids>
                            <type>after</type>
                            <method>getStoreIds</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_StoreSwitcher::afterGetStoreIds</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_after_get_store_ids>
                        <safemage_permissions_after_has_default_option>
                            <type>after</type>
                            <method>hasDefaultOption</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_StoreSwitcher::afterHasDefaultOption</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_after_has_default_option>
                        <safemage_permissions_before_to_html>
                            <type>before</type>
                            <method>_toHtml</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_StoreSwitcher::beforeToHtml</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_before_to_html>
                        <!-- Advanced: Products -->
                        <safemage_permissions_after_get_store_ids2>
                            <type>after</type>
                            <method>getStoreIds</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_StoreSwitcher::afterGetStoreIds</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_get_store_ids2>
                        <safemage_permissions_after_has_default_option2>
                            <type>after</type>
                            <method>hasDefaultOption</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_StoreSwitcher::afterHasDefaultOption</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_has_default_option2>
                        <safemage_permissions_before_to_html2>
                            <type>before</type>
                            <method>_toHtml</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_StoreSwitcher::beforeToHtml</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_before_to_html2>
                    </store_switcher>
                    <widget_grid_column_filter_store>
                        <!-- Advanced: Sales -->
                        <safemage_permissions_around_get_html>
                            <type>around</type>
                            <method>getHtml</method>
                            <run>safemage_permissions/Plugin_Restrict_Sales_GridColumnFilterStore::aroundGetHtml</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_around_get_html>
                    </widget_grid_column_filter_store>
                    <sales_order_create_store_select>
                        <!-- Advanced: Sales. Order > Create -->
                        <safemage_permissions_after_get_store_ids>
                            <type>after</type>
                            <method>getStoreIds</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_OrderCreateStoreSelect::afterGetStoreIds</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_get_store_ids>
                        <safemage_permissions_after_has_default_option>
                            <type>after</type>
                            <method>hasDefaultOption</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_OrderCreateStoreSelect::afterHasDefaultOption</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_has_default_option>
                        <safemage_permissions_before_to_html>
                            <type>before</type>
                            <method>_toHtml</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_OrderCreateStoreSelect::beforeToHtml</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_before_to_html>
                    </sales_order_create_store_select>
                    <!-- Advanced: Categories -->
                    <catalog_category_tabs>
                        <safemage_permissions_after_add_tab>
                            <type>after</type>
                            <method>addTab</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_CatalogCategoryTabs::afterAddTab</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_add_tab>
                    </catalog_category_tabs>
                    <catalog_category_tab_attributes>
                        <safemage_permissions_category_attribute_readonly>
                            <type>after</type>
                            <method>_setFieldset</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_CatalogCategoryTabAttributes::afterSetFieldset</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_category_attribute_readonly>
                    </catalog_category_tab_attributes>
                    <!-- Advanced: Categories, Products -->
                    <catalog_form_renderer_fieldset_element>
                        <safemage_permissions_category_attribute_hidden>
                            <type>after</type>
                            <method>render</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_RendererFieldsetElement::afterRender</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_category_attribute_hidden>
                        <safemage_permissions_product_attribute_hidden>
                            <type>after</type>
                            <method>render</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_RendererFieldsetElement::afterRender</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_product_attribute_hidden>
                    </catalog_form_renderer_fieldset_element>
                    <catalog_form_renderer_attribute_urlkey>
                        <safemage_permissions_category_attribute_hidden>
                            <type>after</type>
                            <method>render</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_RendererFieldsetElement::afterRender</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_category_attribute_hidden>
                        <safemage_permissions_product_attribute_hidden>
                            <type>after</type>
                            <method>render</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_RendererFieldsetElement::afterRender</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_product_attribute_hidden>
                    </catalog_form_renderer_attribute_urlkey>
                    <!-- Advanced: Products -->
                    <catalog_product_edit_tabs>
                        <safemage_permissions_after_can_show_tab>
                            <type>after</type>
                            <method>canShowTab</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_CatalogProductEditTabs::afterCanShowTab</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_can_show_tab>
                    </catalog_product_edit_tabs>
                    <catalog_product_edit_tab_attributes>
                        <safemage_permissions_product_attribute_readonly>
                            <type>after</type>
                            <method>_setFieldset</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_CatalogProductEditTabAttributes::afterSetFieldset</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_product_attribute_readonly>
                    </catalog_product_edit_tab_attributes>
                    <catalog_product_grid>
                        <safemage_permissions_after_add_column>
                            <type>after</type>
                            <method>addColumn</method>
                            <run>safemage_permissions/Plugin_Restrict_Products_CatalogProductGridColumnWebsite::afterAddColumn</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_add_column>
                    </catalog_product_grid>
                    <!-- Advanced: Customers -->
                    <customer_edit_tabs>
                        <safemage_permissions_after_add_tab>
                            <type>after</type>
                            <method>addTab</method>
                            <run>safemage_permissions/Plugin_Restrict_Customers_CustomerTabs::afterAddTab</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_add_tab>
                    </customer_edit_tabs>
                    <widget_form_renderer_fieldset_element>
                        <safemage_permissions_customer_attribute_hidden>
                            <type>after</type>
                            <method>render</method>
                            <run>safemage_permissions/Plugin_Restrict_Customers_RendererFieldsetElement::afterRender</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_customer_attribute_hidden>
                    </widget_form_renderer_fieldset_element>
                    <customer_edit_renderer_attribute_group>
                        <safemage_permissions_customer_attribute_hidden>
                            <type>after</type>
                            <method>render</method>
                            <run>safemage_permissions/Plugin_Restrict_Customers_RendererFieldsetElement::afterRender</run>
                            <sort_order>5</sort_order>
                        </safemage_permissions_customer_attribute_hidden>
                    </customer_edit_renderer_attribute_group>
                    <customer_edit_tab_account>
                        <safemage_permissions_customer_attribute_readonly>
                            <type>after</type>
                            <method>_setFieldset</method>
                            <run>safemage_permissions/Plugin_Restrict_Customers_CustomerEditTabAccount::afterSetFieldset</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_customer_attribute_readonly>
                    </customer_edit_tab_account>
                    <customer_grid>
                        <safemage_permissions_after_add_column>
                            <type>after</type>
                            <method>addColumn</method>
                            <run>safemage_permissions/Plugin_Restrict_Customers_CustomerGridColumnWebsite::afterAddColumn</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_add_column>
                    </customer_grid>
                    <system_config_form>
                        <safemage_permissions_after_can_show_field>
                            <type>after</type>
                            <method>_canShowField</method>
                            <run>safemage_permissions/Plugin_Restrict_Config_SystemConfigForm::afterCanShowField</run>
                            <sort_order>2</sort_order>
                        </safemage_permissions_after_can_show_field>
                    </system_config_form>
                    <!-- Advanced: Configuration -->
                    <system_config_switcher>
                        <safemage_permissions_after_get_store_select_options>
                            <type>after</type>
                            <method>getStoreSelectOptions</method>
                            <run>safemage_permissions/Plugin_Restrict_Config_Switcher::afterGetStoreSelectOptions</run>
                            <sort_order>2</sort_order>
                        </safemage_permissions_after_get_store_select_options>
                    </system_config_switcher>
                    <system_config_form_fieldset>
                        <safemage_permissions_after_get_footer_html>
                            <type>after</type>
                            <method>_getFooterHtml</method>
                            <run>safemage_permissions/Plugin_Restrict_Config_SystemConfigFormFieldset::afterGetFooterHtml</run>
                            <sort_order>2</sort_order>
                        </safemage_permissions_after_get_footer_html>
                    </system_config_form_fieldset>
                </plugin>
            </adminhtml>
        </blocks>
        <helpers>
            <safemage_permissions>
                <class>SafeMage_Permissions_Helper</class>
            </safemage_permissions>
        </helpers>
        <models>
            <safemage_permissions>
                <class>SafeMage_Permissions_Model</class>
                <resourceModel>safemage_permissions_resource</resourceModel>
            </safemage_permissions>
            <safemage_permissions_resource>
                <class>SafeMage_Permissions_Model_Resource</class>
                <entities>
                    <category>
                        <table>safemage_permissions_category</table>
                    </category>
                    <product>
                        <table>safemage_permissions_product</table>
                    </product>
                    <sale>
                        <table>safemage_permissions_sale</table>
                    </sale>
                    <customer>
                        <table>safemage_permissions_customer</table>
                    </customer>
                    <attribute>
                        <table>safemage_permissions_attribute</table>
                    </attribute>
                    <config>
                        <table>safemage_permissions_config</table>
                    </config>
                    <config_group>
                        <table>safemage_permissions_config_group</table>
                    </config_group>
                </entities>
            </safemage_permissions_resource>
            <catalog_resource>
                <plugin>
                    <category>
                        <safemage_permissions_after_validate>
                            <type>after</type>
                            <method>validate</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_EavEntity::afterValidate</run>
                            <sort_order>20</sort_order>
                        </safemage_permissions_after_validate>
                    </category>
                </plugin>
            </catalog_resource>
            <!-- CE 1.5 compatibility -->
            <catalog_resource_eav_mysql4>
                <plugin>
                    <category>
                        <safemage_permissions_after_validate>
                            <type>after</type>
                            <method>validate</method>
                            <run>safemage_permissions/Plugin_Restrict_Categories_EavEntity::afterValidate</run>
                            <sort_order>10</sort_order>
                        </safemage_permissions_after_validate>
                    </category>
                </plugin>
            </catalog_resource_eav_mysql4>
        </models>
        <resources>
            <safemage_permissions_setup>
                <setup>
                    <module>SafeMage_Permissions</module>
                </setup>
            </safemage_permissions_setup>
        </resources>
    </global>
</config>