<?xml version="1.0"?>
<config>
    <modules>
        <Hxtech_Document>
            <version>0.1.6</version>
        </Hxtech_Document>
    </modules>
    <frontend>
        <routers>
            <document>
                <use>standard</use>
                <args>
                    <module>Hxtech_Document</module>
                    <frontName>document</frontName>
                </args>
            </document>
        </routers>
        <layout>
            <updates>
                <document>
                    <file>hxtech/document.xml</file>
                </document>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <document>
                <class>Hxtech_Document_Helper</class>
            </document>
        </helpers>
        <blocks>
            <document>
                <class>Hxtech_Document_Block</class>
            </document>
        </blocks>
        <models>
            <document>
                <class>Hxtech_Document_Model</class>
                <resourceModel>document_mysql4</resourceModel>
            </document>
            <document_mysql4>
                <class>Hxtech_Document_Model_Mysql4</class>
                <entities>
                    <documentation>
                        <table>document_info</table>
                    </documentation>
                    <tiercommission>
                        <table>document_tier_commission</table>
                    </tiercommission>
                </entities>
            </document_mysql4>
        </models>
        <resources>
            <document_setup>
                <setup>
                    <module>Hxtech_Document</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </document_setup>
            <document_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </document_write>
            <document_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </document_read>
        </resources>
        <sales>
            <quote>
                <totals>
                    <documentation_fee>
                        <class>document/total_documentation_quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </documentation_fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <documentation_fee>
                        <class>document/total_documentation_invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </documentation_fee>
                </totals>
            </order_invoice>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <document_id>
                    <to_order>*</to_order>
                </document_id>
                <document_fee>
                    <to_order>*</to_order>
                </document_fee>
                <document_supplier_id>
                    <to_order>*</to_order>
                </document_supplier_id>
                <document_commission_type>
                    <to_order>*</to_order>
                </document_commission_type>
            </sales_convert_quote>
        </fieldsets>
        <pdf>
            <totals>
                <document_fee translate="title">
                    <title>Documentation Fee:</title>
                    <source_field>document_fee</source_field>
                    <model>Hxtech_Document_Model_Total_Pdf_Documentation</model>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </document_fee>
            </totals>
        </pdf>
        <events>
            <!-- Send documentation order email -->
            <sales_order_invoice_pay>
                <observers>
                    <send_documentation_order_email>
                        <type>singleton</type>
                        <class>document/observer</class>
                        <method>sendDocumentationOrderEmail</method>
                    </send_documentation_order_email>
                </observers>
            </sales_order_invoice_pay>
            <!-- Attach invoice PDF to all order emails -->
            <fooman_emailattachments_before_send_queue>
                <observers>
                    <add_invoice_attachment>
                        <type>singleton</type>
                        <class>document/observer</class>
                        <method>addInvoiceAttachment</method>
                    </add_invoice_attachment>
                </observers>
            </fooman_emailattachments_before_send_queue>
        </events>
    </global>
    <admin>
        <routers>
            <document>
                <use>admin</use>
                <args>
                    <module>Hxtech_Document</module>
                    <frontName>document</frontName>
                </args>
            </document>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <document>
                    <file>hxtech/document.xml</file>
                </document>
            </updates>
        </layout>
    </adminhtml>
</config>