<?xml version="1.0"?>
<config>
    <modules>
        <Otnegam_Amastycustom>
            <version>0.0.1</version>
        </Otnegam_Amastycustom>
    </modules>
    <global>
        <blocks>
            <amastycustom>
                <class>Otnegam_Amastycustom_Block</class>
            </amastycustom>
			<catalog>	
				<rewrite>
					<product_list>Otnegam_Amastycustom_Block_Catalog_Product_List</product_list>
				</rewrite>
			</catalog>
        </blocks>
        <helpers>
            <amastycustom>
                <class>Otnegam_Amastycustom_Helper</class>
            </amastycustom>
        </helpers>
    </global>
    <default>
        <amastycustom>
            <general>
                <enable>1</enable>
                <new>10</new>
            </general>
        </amastycustom>
    </default>
</config>