<?xml version="1.0"?>
<config>
    <modules>
        <Hxtech_Barcode>
            <version>0.1.0</version>
        </Hxtech_Barcode>
    </modules>
    <frontend>
        <routers>
            <barcode>
                <use>standard</use>
                <args>
                    <module>Hxtech_Barcode</module>
                    <frontName>barcode</frontName>
                </args>
            </barcode>
        </routers>
        <layout>
            <updates>
                <barcode>
                    <file>hxtech/barcode.xml</file>
                </barcode>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <barcode>
                <class>Hxtech_Barcode_Helper</class>
            </barcode>
        </helpers>
        <blocks>
            <barcode>
                <class>Hxtech_Barcode_Block</class>
            </barcode>
        </blocks>
        <models>
            <barcode>
                <class>Hxtech_Barcode_Model</class>
                <resourceModel>barcode_mysql4</resourceModel>
            </barcode>
            <barcode_mysql4>
                <class>Hxtech_Barcode_Model_Mysql4</class>
                <entities>
                </entities>
            </barcode_mysql4>
        </models>
        <resources>
            <barcode_setup>
                <setup>
                    <module>Hxtech_Barcode</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </barcode_setup>
            <barcode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </barcode_write>
            <barcode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </barcode_read>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <generate_barcode_before_save_product>
                        <type>singleton</type>
                        <class>barcode/observer</class>
                        <method>generateBarcode</method>
                    </generate_barcode_before_save_product>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <barcode>
                <use>admin</use>
                <args>
                    <module>Hxtech_Barcode</module>
                    <frontName>barcode</frontName>
                </args>
            </barcode>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <barcode>
                    <file>hxtech/barcode.xml</file>
                </barcode>
            </updates>
        </layout>
    </adminhtml>
</config>