<?xml version="1.0"?>
<config>
    <modules>
        <Hxtech_Logistic>
            <version>0.4.0</version>
        </Hxtech_Logistic>
    </modules>
    <frontend>
        <routers>
            <logistic>
                <use>standard</use>
                <args>
                    <module>Hxtech_Logistic</module>
                    <frontName>logistic</frontName>
                </args>
            </logistic>
        </routers>
        <layout>
            <updates>
                <logistic>
                    <file>hxtech/logistic.xml</file>
                </logistic>
            </updates>
        </layout>
        <events>
            <sales_order_place_before>
                <observers>
                    <calculate_logistic_commission>
                        <type>singleton</type>
                        <class>logistic/observer</class>
                        <method>applyCommissionRate</method>
                    </calculate_logistic_commission>
                </observers>
            </sales_order_place_before>
        </events>
    </frontend>
    <global>
        <helpers>
            <logistic>
                <class>Hxtech_Logistic_Helper</class>
            </logistic>
        </helpers>
        <blocks>
            <logistic>
                <class>Hxtech_Logistic_Block</class>
            </logistic>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Hxtech_Logistic_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Hxtech_Logistic_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <customer_edit_tab_addresses>Hxtech_logistic_Block_Rewrite_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <logistic>
                <class>Hxtech_Logistic_Model</class>
                <resourceModel>logistic_mysql4</resourceModel>
            </logistic>
            <logistic_mysql4>
                <class>Hxtech_Logistic_Model_Mysql4</class>
                <entities>
                    <shippingrate>
                        <table>logistic_shippingrate</table>
                    </shippingrate>
                    <tiercommission>
                        <table>logistic_tier_commission</table>
                    </tiercommission>
                    <importerconfig>
                        <table>importer_commission_config</table>
                    </importerconfig>
                    <importertier>
                        <table>importer_tier_commission</table>
                    </importertier>
                    <review>
                        <table>logistic_review</table>
                    </review>
                    <port>
                        <table>logistic_country_port</table>
                    </port>
                    <pallet>
                        <table>logistic_pallet</table>
                    </pallet>
                </entities>
            </logistic_mysql4>
        </models>
        <resources>
            <logistic_setup>
                <setup>
                    <module>Hxtech_Logistic</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </logistic_setup>
            <logistic_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </logistic_write>
            <logistic_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </logistic_read>
        </resources>
        <template>
            <email>
                <logistic_sales_email_order_template translate="label" module="logistic">
                    <label>New Order(Logistic Supplier)</label>
                    <file>sales/logistic/logistic_order_new.html</file>
                    <type>html</type>
                </logistic_sales_email_order_template>
                <document_sales_email_order_template translate="label" module="logistic">
                    <label>New Order(Document Supplier)</label>
                    <file>sales/logistic/document_order_new.html</file>
                    <type>html</type>
                </document_sales_email_order_template>
                <customer_sales_email_order_template translate="label" module="logistic">
                    <label>New Order(Customer)</label>
                    <file>sales/logistic/customer_order_new.html</file>
                    <type>html</type>
                </customer_sales_email_order_template>
            </email>
        </template>
        <fieldsets>
            <sales_convert_quote>
                <shipping_rate_id>
                    <to_order>*</to_order>
                </shipping_rate_id>
                <logistic_id>
                    <to_order>*</to_order>
                </logistic_id>
                <commission_fee>
                    <to_order>*</to_order>
                </commission_fee>
                <commission_type>
                    <to_order>*</to_order>
                </commission_type>
                <importer_commission_type>
                    <to_order>*</to_order>
                </importer_commission_type>
                <importer_commission_fee>
                    <to_order>*</to_order>
                </importer_commission_fee>
            </sales_convert_quote>
            <sales_convert_quote_address>
                <closestport_name>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </closestport_name>
            </sales_convert_quote_address>
            <customer_address>
                <closestport_name>
                    <to_quote_address>*</to_quote_address>
                </closestport_name>
            </customer_address>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <importer_commission_fee>
                        <class>logistic/total_importer_quote</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </importer_commission_fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <importer_commission_fee>
                        <class>logistic/total_importer_invoice</class>
                        <after>subtotal</after>
                        <before>tax</before>
                    </importer_commission_fee>
                </totals>
            </order_invoice>
        </sales>
        <pdf>
            <totals>
                <importer_commission_fee translate ="title">
                    <title>Importer Fee:</title>
                    <source_field>importer_commission_fee</source_field>
                    <model>Hxtech_Logistic_Model_Total_Pdf_Importer</model>
                    <amount_prefix>-</amount_prefix> 
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </importer_commission_fee>
            </totals>
        </pdf>
        <events>
            <customer_register_success>
                <observers>
                    <save_customer_closest_port>
                        <type>singleton</type>
                        <class>logistic/observer</class>
                        <method>saveCustomerClosestPort</method>
                    </save_customer_closest_port>
                </observers>
            </customer_register_success>
            <!-- Send logistic order email -->
            <sales_order_invoice_pay>
                <observers>
                    <send_logistic_order_email>
                        <type>singleton</type>
                        <class>logistic/observer</class>
                        <method>sendLogisticOrderEmail</method>
                    </send_logistic_order_email>
                </observers>
            </sales_order_invoice_pay>
        </events>
    </global>
    <admin>
        <routers>
            <logistic>
                <use>admin</use>
                <args>
                    <module>Hxtech_Logistic</module>
                    <frontName>logistic</frontName>
                </args>
            </logistic>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <logistic>
                    <file>hxtech/logistic.xml</file>
                </logistic>
            </updates>
        </layout>
        <events>
        	<core_block_abstract_to_html_before>
                <observers>
                    <importer_tier_commission_tab>
                        <class>logistic/observer</class>
                        <method>addImporterTierCommissionTab</method>
                    </importer_tier_commission_tab>
                </observers>
            </core_block_abstract_to_html_before>
            <adminhtml_customer_prepare_save>
                <observers>
                    <importer_commission_save>
                        <class>logistic/observer</class>
                        <method>saveImporterCommission</method>
                    </importer_commission_save>
                </observers>
            </adminhtml_customer_prepare_save>
            <adminhtml_widget_container_html_before>
                <observers>
                    <your_module>
                        <class>logistic/observer</class>
                        <type>singleton</type>
                        <method>addCustomerExportButton</method>
                    </your_module>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>